/*Colors Paletter*/
:root {
  /* HEX */
  --bice-blue: #006ba6ff;
  --blue-green: #219EBC;
  --floral-white: #f7f4eaff;
  --coral: #ff8552ff;
  --dark-purple: #161032ff;
  --black: #030301ff;
  --Prussian-blue: #023047ff;
  --Selective-yellow: #ffb703;

  /* Palette Number 2 - https://coolors.co/ */
  --sky-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --ut-orange: #fb8500ff;


  /* Gradient */
  --gradient-top: linear-gradient(0deg, var(--bice-blue), var(--floral-white), var(--coral), var(--dark-purple), var(--black));
}



/* set default font and margin for the entire document */
body {
	font-family: Arial, sans-serif;
	margin: 105;
  /* Example usage */
  background: var(--prussian-blue);
  color: var(--selective-yellow);
  /* border: 0.5px solid var(--coral); */
  /* box-shadow: 0 0 10px var(--Prussian-blue); */
  /* text-shadow: 1px 1px 1px var(--black); */
  /* background-image: var(--gradient-top); */
  /* background-image: var(--blue-green) */


}

/* style the page header */
header {
	background-color: #862323;
	/* color: #fff; */
  color: var(--bice-blue);
	padding: 1rem;
}

/* style the navigation menu */
nav {
	background-color: #dddddd;
}
/* style the navigation menu links */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 1rem;
}

nav a {
	color: #801717;
	text-decoration: none;
}

nav a:hover {
	color: #0c0c0c;
}

/* style the page footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}


.github-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* add this to align items to the right */
  gap: 10px;
  font-size: 1.2rem;
  position: absolute; /* add this to remove the links from normal flow */
  top: 10px; /* adjust this value to set the distance from top */
  right: 40px; /* adjust this value to set the distance from right */
}

.github-container a:first-child {
  width: 40px;
}

.github-container a img {
  width: 100%;
}

.github-container a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.github-container a:hover {
  border-color: #333;
}


.linkedin-container a:first-child {
  width: 40px;
}

.linkedin-container a img {
  width: 100%;
}

.linkedin-container a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.linkedin-container a:hover {
  border-color: #333;
}

.linkedin-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* add this to align items to the right */
  gap: 10px;
  font-size: 1.2rem;
  position: absolute; /* add this to remove the links from normal flow */
  top: 10px; /* adjust this value to set the distance from top */
  right: 100px; /* adjust this value to set the distance from right */
}


.google-scholar-container a:first-child {
  width: 40px;
}

.google-scholar-container a img {
  width: 100%;
}

.google-scholar-container a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.google-scholar-container a:hover {
  border-color: #333;
}

.google-scholar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* add this to align items to the right */
  gap: 10px;
  font-size: 1.2rem;
  position: absolute; /* add this to remove the links from normal flow */
  top: 10px; /* adjust this value to set the distance from top */
  right: 160px; /* adjust this value to set the distance from right */
}

/* style the main content area */