:root {
  /* Colors Palette */
  /* HEX */
  --bice-blue: #006ba6ff;
  --floral-white: #f7f4eaff;
  --coral: #ff8552ff;
  --dark-purple: #161032ff;
  --black: #030301ff;
  --Prussian-blue: #023047ff;
  --Selective-yellow: #ffb703;
  /* Palette Number 2 - https://coolors.co/ */
  --sky-blue: #8ecae6ff;
  --blue-green-2: #219ebcff; /* Renamed to blue-green-2 */
  --prussian-blue: #023047ff;
  --selective-yellow-2: #ffb703ff; /* Renamed to selective-yellow-2 */
  --ut-orange: #fb8500ff;
  /* Turquoise */
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff; /* Renamed to blue-green */
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
  /* White */
  --white: #ffffff;
  --lapis-lazuli: #22577aff;
  --verdigris: #38a3a5ff;
  --emerald: #57cc99ff;
  --light-green: #80ed99ff;
  --tea-green: #c7f9ccff;
}

/* Set default font and margin for the entire document */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* Example usage */
  background: var(--white);
  color: var(--federal-blue);
  /* border: 0.5px solid var(--coral); */
  /* box-shadow: 0 0 10px var(--Prussian-blue); */
  /* text-shadow: 1px 1px 1px var(--black); */
  /* background-image: var(--gradient-top); */
  background-image: var(--blue-green);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  padding: 2rem;
}

/* Style the page header */
header {
  padding: 1rem;
  border-radius: 2px;
  text-align: center;
  margin: 0;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

nav {
  background-color: var(--emerald);
  /* color: var(--bice-blue); */
  padding: 1rem;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Adjust the width as needed */
  max-width: 830px; /* Optional: Set a maximum width */
}


/* Style the navigation menu links */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

nav li {
  margin: 0 0.5rem;
}

nav a {
  color: #131010;
  text-decoration: none;
}

/* Style the active navigation menu link - hovering */
nav a:hover {
  color: #0c0c0c;
}

/* Style the sections titles */
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  background-color: var(--light-cyan);
  color: var(--Prussian-blue);
  border-radius: 4px;
  padding: 0.25rem;
}

/* Style the page footer */
footer {
  background-color: #333;
  color: #fff;
  width: 40%;
  bottom: 0;
  padding: 0.8rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}


.github-container,
.linkedin-container,
.google-scholar-container,
.twitter-container{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  top: 10px;
}

.github-container {
  right: 0px; /* Adjust this value to set the distance from the right */
}

.linkedin-container {
  right: 70px; /* Adjust this value to set the distance from the right */
}

.google-scholar-container {
  right: 140px; /* Adjust this value to set the distance from the right */
}

.twitter-container {
  right: 200px; /* Adjust this value to set the distance from the right */
}

.github-container a,
.linkedin-container a,
.google-scholar-container a,
.twitter-container a{
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.github-container a:hover,
.linkedin-container a:hover,
.google-scholar-container a:hover,
.twitter-container a:hover{
  border-color: #333;
}

.github-container a img,
.linkedin-container a img,
.google-scholar-container a img
{
  width: 30px; /* Adjust this value to set the logo size */
  margin-top: 4px;
}
.twitter-container a img{
  width: 45px; /* Adjust this value to set the logo size */
  margin-top: 0px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 20px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.intro {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  margin-top: 30px;
  margin-left: 20px;
  /* flex-grow: 3; */
  /* text-align: left; */
}



/* Contact */
.contact-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0px;
}

.email-form-container {
  max-width: 500px;
  text-align: left;
}

.email-form-container h2 {
  margin-bottom: 20px;
}

.email-form-container label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.email-form-container input[type="text"],
.email-form-container input[type="email"],
.email-form-container textarea {
  width: 150%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.email-form-container textarea {
  resize: vertical;
  min-height: 150px;
}

.email-form-container input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.email-form-container input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the projects */
.video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.video-item {
  width: 45%;
  margin-bottom: 30px;
}

.video-item iframe {
  display: block;
  width: 100%;
  height: 320px;
  margin: 0 auto;
}

/* Style the publications */
.publication {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.publication-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.publication-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.publication-img {
  max-width: 400px;
}

.citation {
  font-style: italic;
  text-align: left;
}

.citation strong {
  font-weight: bold;
}